@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFD6E3;
  --foreground: #26211E;
  --font-roboto: 'Roboto', sans-serif;
  --font-source-serif-4: 'Source Serif 4', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFD6E3;
    --foreground: #26211E;
  }
}

html {
  font-family: var(--font-roboto);
  color: var(--foreground);
}
 
h1 {
  font-family: var(--font-source-serif-4);
  font-size: 8rem;
  letter-spacing: -0.75rem;
  line-height: 8rem;
}

body {
  background: var(--background);
}
