@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFD6E3;
  --foreground: #26211E;
  --font-roboto: 'Roboto', sans-serif;
  --font-source-serif-4: 'Source Serif 4', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #26211E;
    --foreground: #FFD6E3;
  }
}

html {
  font-family: var(--font-roboto);
  background: #808080;
  min-height: 100%;
}
 
h1 {
  font-family: var(--font-source-serif-4);
  font-size: 4rem;
  letter-spacing: -0.3rem;
  line-height: 5rem;

  @media only screen and (min-width: 640px) {
    font-size: 6rem;
    line-height: 6rem;
  }

  @media only screen and (min-width: 768px) {
    font-size: 8rem;
    letter-spacing: -0.75rem;
    line-height: 8rem;
  } 
}

body {
  height: 100%;
}


a {
  text-decoration: underline;
}

a:visited {
  color: #808080;
}